<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div *ngFor="let item of teams" class="col">
            <div class="card">
                <img class="card-img-top" alt="..."
                    src="https://localhost:7152/api/Image?UserId={{item.id}}">
                <div class="card-body">
                    <p class="card-text">{{item.name}}</p>
                </div>
                <div class="card-footer">
                    <a [routerLink]="['/team/teamProfile/', item.id]" class="btn btn-primary">Profile</a> 
                </div>
            </div>
        </div>
    </div>
</div>