<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Add Experience</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="close()" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <form>
        <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Job Title</label>
            <input type="text" class="form-control" id="recipient-name" [(ngModel)]="freelancerExperience.jobTitle" [ngModelOptions]="{standalone: true}">
          </div>
      <div class="mb-3">
        <label for="recipient-name" class="col-form-label">Start Date</label>
        <input type="date" class="form-control" id="recipient-name " [(ngModel)]="freelancerExperience.startDate" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="mb-3">
          <label for="recipient-name" class="col-form-label">End Date</label>
          <input type="date" class="form-control" id="recipient-name" [(ngModel)]="freelancerExperience.endDate" [ngModelOptions]="{standalone: true}">
        </div>
      <div class="mb-3">
        <label for="recipient-name" class="col-form-label" >Company Name</label>
        <input  type="text" class="form-control" id="recipient-name"  [(ngModel)]="freelancerExperience.companyName" [ngModelOptions]="{standalone: true}">
      </div>
    
        <div class="mb-3">
          <label for="recipient-name" class="col-form-label" >Currently Working</label>
          <div class="radio">  
            <label>  
                <input type="radio" name="radio" value="yes" (click)="currentlyworking=1" >  
               Yes
           </label>  
         </div>  
         <div class="radio">  
          <label>  
             <input type="radio" name="radio" value="no" (click)="currentlyworking=0" >  
                 No
           </label>  
         </div>  
          <!-- <input type="text" class="form-control" id="recipient-name" [(ngModel)]="freelancerExperience.curentllyWorking" [ngModelOptions]="{standalone: true}"> -->
        </div>
        <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Job Kind</label>
            <input type="text" class="form-control" id="recipient-name" [(ngModel)]="freelancerExperience.jobKind" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Summary</label>
            <input type="text" class="form-control" id="recipient-name" [(ngModel)]="freelancerExperience.summary" [ngModelOptions]="{standalone: true}">
          </div>

    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="Add()">Save</button>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="close()">Close</button>
  </div>