<nav class="navbar navbar-expand-lg fixed-top trans-navigation">
    <div class="container">

        <img src="../../../assets/images/squad.jpg" alt=""
                style="width: 45px; height:45px; border-radius: 50%; position: fixed;" class="img-fluid b-logo">
            <a class="navbar-brand font-weight-bold" [routerLink]="['/']"
                style="position: fixed; left: 10%; top:3%; font-size: large;">
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                Squad
            </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav"
            aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
                <i class="fa fa-bars"></i>
            </span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="mainNav">
            <ul class="navbar-nav ">

                <li class="nav-item me-3 me-lg-0 dropdown show">
                    <a gtm-id="Notifications" class="nav-link dropdown-toggle hidden-arrow" role="button"
                        alt="Notifications" id="navbarNotification" data-mdb-toggle="dropdown" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true">
                        <i class="fas fa-bell" alt="Notifications"></i>
                        <span id="navbarNotificationCounter" class="badge rounded-pill badge-notification bg-danger"
                            alt="Notifications" style="color: rgb(255, 255, 255) !important; display: none;">4</span>
                    </a>
                    <div data-bs-spy="scroll" data-bs-target="#navbar-example" data-bs-offset="0"
                        class="dropdown-menu dropdown-menu-right dropdown-menu-end show scrollspy-example"
                        id="navbarNotificationContent" tabindex="0" aria-labelledby="navbarDropdownMenuLink"
                        style="width: 250px;">
                        <a gtm-id="Notifications" class="dropdown-item text-wrap"
                            data-notification-date="07/12/2022 11:00"
                            href="https://mdbootstrap.com/docs/standard/getting-started/changelog/" target="_blank"
                            rel="nofollow" id="navbarNotification">
                            <p class="small text-uppercase mb-2">7/12/2022</p>
                            <p class="mb-0">MDB5 Standard version 4.3.0 released! Check out the full list of fixes &amp;
                                improvements you'll get with this update</p>
                        </a>
                    </div>
                </li>



                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#!" id="navbarWelcome" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Find Talent Squad <i class="fas fa-chevron-down"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarWelcome">
                        <li><a class="dropdown-item" [routerLink]="['/projects/create']">Post Job</a></li>
                        <li><a class="dropdown-item" [routerLink]="['/team/showteams']" href="index-2.html">Hire
                                Team</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#!" id="navbarWelcome" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Find Work <i class="fas fa-chevron-down"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarWelcome">
                        <li><a class="dropdown-item" [routerLink]="['/projects/list']">Find Work for your team</a></li>
                        <li><a class="dropdown-item" [routerLink]="['/team/showteams']">find Team to Join</a></li>
                    </ul>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link smoth-scroll" [routerLink]="['/projects']">About</a>
                </li> -->
                <!-- <li class="nav-item">
                    <a class="nav-link smoth-scroll" [routerLink]="['/projects']">Contact</a>
                </li> -->
                <li *ngIf="account.id == 0" class="nav-item">
                    <a [routerLink]="['/login']" routerLinkActive="router-link-active" class="nav-link smoth-scroll">

                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-person-fill" viewBox="0 0 16 16">
                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                        </svg>
                        Log In
                    </a>
                </li>
                <li *ngIf="account.id == 0" class="nav-item">
                    <a [routerLink]="['/register']" routerLinkActive="router-link-active" class="nav-link smoth-scroll">

                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                            <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                            <path fill-rule="evenodd"
                                d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
                        </svg>
                        Register
                    </a>
                </li>
                <li *ngIf="account.id > 0" class="nav-item">
                    <a [routerLink]="['/profile/',account.id]" routerLinkActive="router-link-active"
                        class="nav-link smoth-scroll">

                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                            <path fill-rule="evenodd"
                                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                        </svg>
                        Profile
                    </a>
                </li>
                <li *ngIf="account.id > 0" class="nav-item">
                    <a (click)="logout()" [routerLink]="['']" routerLinkActive="router-link-active"
                        class="nav-link smoth-scroll">

                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-door-closed-fill" viewBox="0 0 16 16">
                            <path
                                d="M12 1a1 1 0 0 1 1 1v13h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V2a1 1 0 0 1 1-1h8zm-2 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                        </svg>
                        Log Out
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--MAIN HEADER AREA END -->


<!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#!" id="navbarWelcome" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Home <i class="fas fa-chevron-down"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarWelcome">
                        <li><a class="dropdown-item" href="index.html">Home-1</a></li>
                        <li><a class="dropdown-item" href="index-2.html">Home-2</a></li>
                        <li><a class="dropdown-item" href="index-3.html">Onepage</a></li>

                        <li class="dropdown dropdown-submenu dropright">
                            <a class="dropdown-item dropdown-toggle" href="#!" id="dropdown0301" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sub Menu</a>

                            <ul class="dropdown-menu" aria-labelledby="dropdown0301">
                                <li><a class="dropdown-item" href="index.html">Submenu 01</a></li>
                                <li><a class="dropdown-item" href="index.html">Submenu 02</a></li>
                            </ul>
                        </li>
                        <li class="dropdown dropdown-submenu dropleft">
                            <a class="dropdown-item dropdown-toggle" href="#!" id="dropdown0501" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sub Menu</a>

                            <ul class="dropdown-menu" aria-labelledby="dropdown0501">
                                <li><a class="dropdown-item" href="index.html">Submenu 01</a></li>
                                <li><a class="dropdown-item" href="index.html">Submenu 02</a></li>
                            </ul>
                        </li>
                    </ul>

                </li> -->

<!-- </li>
                <li class="nav-item">
                    <a class="nav-link smoth-scroll" href="about.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link smoth-scroll" href="service.html">Service</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link smoth-scroll" href="pricing.html">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link smoth-scroll" href="blog.html">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link smoth-scroll" href="contact.html">Contact</a>
                </li>
                <li class="nav-item">
                    <a *ngIf="this.profileId!=undefined" [routerLink]="['/postComplain/'+profileId]"  class="nav-link smoth-scroll" href="postcomplain.html">Post Complain</a>
                </li>
            </ul>
        </div>
    </div>
</nav> -->

<!--MAIN HEADER AREA END -->