<div *ngIf="ProjId>0; else elseBlock">
<div class="container">
  <div class=" text-center mt-5 ">
      <h1 >Proposal Form For {{ProjName}}</h1>
      <H2>{{ProjDesc}}</H2>
  </div>


<div class="row ">
<div class="col-lg-7 mx-auto">
  <div class="uto p-4 bcard mt-2 mx-ag-light">
      <div class="card-body bg-light">

      <div class = "container">
        <form id="contact-form" role="form">
      <div class="controls">

          <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="Money">Total Price $$ *</label>
                  <input [(ngModel)]="prop.money"  type="number" class="form-control form-control-lg" name="Money" id="Money" placeholder="Please enter the Total Price $ *" required="required" data-error="Total Price is required.">
                </div>
              </div>
          </div>
<br>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
  <label for="DDate">Delivery date *</label>
  <input [(ngModel)]="prop.date"  (ngModelChange)="CalcDuration()" type="date" id="DDate" name="DDate" class="form-control form-control-lg" required="required" data-error="Delivery Date is required.">
</div>
</div>
</div>
<br>
          <div class="row">
              <div class="col-md-12">
                  <div class="form-group">
                      <label for="form_message">Message *</label>
                      <textarea [(ngModel)]="prop.description" id="form_message" name="message" class="form-control" placeholder="Write your message here." rows="4" required="required" data-error="Please, leave a message to the client."></textarea>
                      </div>
                    </div>

                  </div>
<br>

                  <div class="row">
                    <div class="col-md-12">
                  <div class="form-group">
                    <label for="exampleFormControlFile1">Attachment</label>
                    <input type="file" class="form-control-file" id="exampleFormControlFile1">
                  </div>
                  </div>
                </div>
                <br>

              <div class="col-md-12">

                  <a  (click)="ADD()" [routerLink]="['/AllProposals/',prop.projectId]" routerLink="/AllProposals" type="submit" class="btn btn-primary btn-send  pt-2 btn-block"  > Add Proposal</a>

          </div>

          </div>




   </form>
  </div>
      </div>


</div>
  <!-- /.8 -->

</div>
<!-- /.row-->
</div>
</div>
</div>
<ng-template #elseBlock><h1>Error 404 Not Found</h1></ng-template>


{{prop|json}}


