

<div style="margin-top: 3%;" class="container">
    <tr *ngFor="let item of freelancerExperiences[1]"> 
        <div  class="card" style="width: 700px;">
            <div class="card-body">
                <h2 class="card-title">{{item.jobTitle}}</h2> 
                <h3 class="card-subtitle mb-2 text-muted">From: {{item.startDate | date :"mediumDate"}}</h3>
                <h3 class="card-subtitle mb-2 text-muted">To: {{item.endDate | date :"mediumDate"}}</h3>
                <h3 class="card-text">Company: {{item.companyName}}</h3>
                <h3 class="card-text">Job Kind: {{item.jobKind}}</h3>
                <p class="card-text">Summary: {{item.summary}}</p>
                <div *ngIf="item.curentllyWorking == true">
                <h3 class="card-text" >Currently Working: YES</h3>
                </div>
                <div *ngIf="item.curentllyWorking == false">
                    <h3 class="card-text" >Currently Working: NO</h3>
               </div>
            </div>
            <div class="modal-footer">
                <button *ngIf="profileId==userId" type="button"  class="btn btn-success " [routerLink]="['/profile',profileId,'editExperience',item.freelancerId,item.startDate]"  style="margin-left: 10px;" >Edit</button>
                <button  *ngIf="profileId==userId" type="button" class="btn btn-danger"   (click)="Delete(item.freelancerId,item.startDate)" >Delete</button>
              </div>
        </div>
        <br>
     </tr>
     <button *ngIf="profileId==userId" class="btn btn-lg btn-primary" [routerLink]="['/profile',profileId,'addExperience'] " >Add Experience</button> 
    </div>
    <br>
<br>