<div class="container mt-2">
    <div class="row">
    <div class="media">
        <div class="col-md-4" *ngFor="let item of users">
            <div class="col-lg-3 col-md-4 col-12">
                <div class="pull-left"> <img class="media-object mn thumbnail mw50" src="https://localhost:7152/api/Image?UserId={{item.id}}" style="width: 10rem; height: 10rem; border-radius: 50%;" alt=""> </div>
            </div>
            <div class="col-lg-8 col-md-8 col-12" style="width: 20rem;">
                <h4 class="mt-0 "><strong>{{item.idNavigation?.firstName}}</strong> {{item.idNavigation?.lastName}}</h4>
                <span class="job_post">{{item.freelancerNavigation?.specialization}}</span>
                <p class="social-icon m-t-5 m-b-0">
                    <a title="Twitter" href="javascript:void(0);"><i class="fa fa-twitter"></i></a>
                    <a title="Facebook" href="javascript:void(0);"><i class="fa fa-facebook"></i></a>
                    <a title="Google-plus" href="javascript:void(0);"><i class="fa fa-twitter"></i></a>
                    <a title="Behance" href="javascript:void(0);"><i class="fa fa-behance"></i></a>
                    <a title="Instagram" href="javascript:void(0);"><i class="fa fa-instagram "></i></a>
                </p>
            </div>   
        </div>
    </div>       
    </div>
</div>
