

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div *ngFor="let item of users" class="col">
        <div class="card h-100">
            <img class="card-img-top" src="https://localhost:7152/api/Image?UserId={{item.id}}">
            <div class="card-body">
                <h2 class="card-title">{{item.idNavigation?.firstName}} {{item.idNavigation?.lastName}}</h2>
                <p class="card-text">{{item.freelancerNavigation?.specialization}}</p>
            </div>
            <div  class="card-footer">
                <a class="btn btn-primary">Profile</a>
                <a *ngIf="haveAccess == true" class="btn btn-success">Give Access</a>
                <a *ngIf="haveAccess == true" class="btn btn-success"> RemoveAccess</a>
                <a *ngIf="haveAccess == true" class="btn btn-danger">Remove</a>
            </div>
        </div>
    </div>
    </div>
