<div class="modal-header">
    <h2 class="modal-title" id="exampleModalLabel">Edit Bio</h2>


    <div class="modal-body">
        <form>
            <div class="mb-3">
                <div class="mb-3">
                    
                    <input type="text" class="form-control" id="recipient-name" ngDefaultControl
                        [(ngModel)]="accountInfo.user!.bio" [ngModelOptions]="{standalone: true}">
                </div>
            </div>

        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="close()">Close</button>
        <a type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="save()">Save</a>
    </div>
</div>