<!-- <div class="container" style="margin-top: 50px">
  <div class="row">
    <div class="col-md-12">
      <div class="card-sl">
        <div class="card-image">
          <img
            style="height: 287px; width: 100%"
            src="https://i.pinimg.com/736x/87/35/43/87354336e0f94a51c090bca041b44aa6.jpg}}"
          />
        </div>
        <a class="card-action" 
          ><i class="fa fa-heart"></i
        ></a>
        <div
          class="card-heading"
          routerLink="/profile/{{ freelancer.id }}"
          
          style="cursor: pointer"
        >
          {{ freelancer.id }}
        </div>
        <div class="card-text">
          {{ freelancer.rate}}
        </div>

    </div>
  </div>
</div> -->

