<div  *ngFor="let item of projects">
  <div style="margin: 100px;">
    <div class="card text-center">
        <div class="card-header" style="font-weight: bold;">
          {{item.title}}
        </div>
        <div class="card-body">
          <h5 class="card-title" style="font-weight: bold;">{{item.state}}</h5>
          <p class="card-text">{{item.description}}</p>
          <h5 class="card-title">{{item.minBudget}} $:{{item.maxBudget}} $</h5>
          <button (click)="delete(item.id)" class="btn btn-danger">Delete</button>
          <button  [routerLink]="['/Addproposal/',item.id]" class="btn btn-primary" style="margin: 20px;">Add Proposal</button>
        </div>
        <div class="card-footer text-muted">
          {{item.postingDate}}
        </div>
      </div>
</div>
</div>
