<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Add Certificate</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="close()" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="recipient-name" class="col-form-label">Title</label>
        <input type="text" class="form-control" id="recipient-name " [(ngModel)]="freelancerCertificate.title" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="mb-3">
          <label for="recipient-name" class="col-form-label">Specialization</label>
          <input type="text" class="form-control" id="recipient-name" [(ngModel)]="freelancerCertificate.specialization" [ngModelOptions]="{standalone: true}">
        </div>
      <div class="mb-3">
        <label for="recipient-name" class="col-form-label" >Date</label>
        <input  type="date" class="form-control" id="recipient-name"  [(ngModel)]="freelancerCertificate.date" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="mb-3">
          <label for="recipient-name" class="col-form-label">Description</label>
          <input type="text" class="form-control" id="recipient-name" [(ngModel)]="freelancerCertificate.description" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="mb-3">
          <label for="recipient-name" class="col-form-label">Link</label>
          <input type="text" class="form-control" id="recipient-name" [(ngModel)]="freelancerCertificate.link" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Organization</label>
            <input type="text" class="form-control" id="recipient-name" [(ngModel)]="freelancerCertificate.organization" [ngModelOptions]="{standalone: true}">
          </div>
  

    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="Add()">Save</button>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="close()">Close</button>
  </div>