<body>
  <div class="container">
  <div  *ngFor="let item of Proposals" class="py-5">
      <div class="row hidden-md-up">
        <div class="col-md-4">
          <div class="card">
            <div class="card-block">
              <h4 class="card-title">  اسم التيم </h4>
              <h6 class="card-subtitle text-muted">Total Price : {{item.money}}$ - Delivery within: {{item.duration}} Dayes</h6>
              <p class="card-text p-y-1">{{item.description}}</p>
              <p class="card-text p-y-1"></p>
              <a href="#" class="card-link btn btn-primary">Direct Message</a>
              <a href="#" class="card-link btn btn-primary">Make an offer</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
  <script src="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js"></script>
</body>
<!-- <table class="table">
  <thead>
    <tr>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>3</th>
      <th>3</th>
    </tr>
  </thead>
  <tbody>
    <tr >
      <td>{{item.description}}</td>
      <td>{{item.description}}</td>
      <td>{{item.description}}</td>
      <td>{{item.description}}</td>
      <td>{{item.description}}</td>

    </tr>

  </tbody>
</table> -->
