<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">

    <!-- Content wrapper start -->
    <div class="content-wrapper">

        <!-- Row start -->
        <div class="row gutters">

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                <div class="card m-0">

                    <!-- Row start -->
                    <div class="row no-gutters">
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-3">
                            <div class="users-container">
                                <div class="chat-search-box">
                                    <div class="input-group">
                                        <input class="form-control" placeholder="Search" [(ngModel)]="s">
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-info">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <ul class="users">
                                    <li *ngFor="let cl of ChatsList | serachInArray:s" class="person"
                                        data-chat="person1" (click)="ViewChat(cl.id)">
                                        <div class="user">
                                            <img src="https://localhost:7152/api/Image?UserId={{cl.id}}" alt="User"
                                                onerror="this.src='assets/images/NoImage.png'">
                                        </div>
                                        <p class="name-time">
                                            <span class="name">{{cl.name}} </span>
                                            <span class="time">{{cl.lastMessDate| date:'short'}}</span>
                                            <ng-template [ngIf]="cl.noOfUnRead > 0">
                                                <mark
                                                    style="background-color: green; color: white; border-radius: 50%; padding-left: 3%; padding-right: 3%;position: absolute;right: 25px;">
                                                    {{cl.noOfUnRead}}</mark>
                                            </ng-template>
                                        </p>
                                        <p class="name-time">
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-9 col-9">
                            <div class="selected-user">
                                <span>To: <span class="name">{{chattingUser.name}}</span></span>
                            </div>
                            <div class="chat-container">
                                <ul class="chat-box chatContainerScroll">
                                    <ng-template ngFor let-message [ngForOf]="openedchat">
                                        <ng-template [ngIf]="message.sender == 'u'">
                                            <li class="chat-left">
                                                <div class="chat-avatar">
                                                    <img src="https://localhost:7152/api/Image?UserId={{message.userId}}"alt="User" onerror="this.src='assets/images/NoImage.png'">
                                                    <div class="chat-name">{{chattingUser.name.split(' ')[0]}}</div>
                                                </div>
                                                <div class="chat-text">{{message.message}}</div>
                                                <div class="chat-hour">{{message.date | date:'short'}}<span class="fa fa-check-circle"></span></div>
                                            </li>
                                        </ng-template>

                                        <ng-template [ngIf]="message.sender == 't'">
                                            <li class="chat-right">
                                                <div class="chat-hour">{{message.date | date:'short'}}<span class="fa fa-check-circle"></span></div>
                                                <div class="chat-text">{{message.message}}</div>
                                                <div class="chat-avatar">
                                                    <img src="https://localhost:7152/api/Image/Team?TeamId={{teamId}}" alt="Team" onerror="this.src='assets/images/NoImage.png'">
                                                    <div class="chat-name">{{chattingUser.name.split(' ')[0]}}</div>
                                                </div>
                                            </li>
                                        </ng-template>

                                    </ng-template>

                                </ul>
                                <div class="form-group mt-3 mb-0">
                                    <textarea class="form-control" rows="3" placeholder="Type your message here..." (keyup.enter)="SendMessage()" [(ngModel)]="newMessage.message"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Row end -->
                </div>

            </div>

        </div>
        <!-- Row end -->

    </div>
    <!-- Content wrapper end -->

</div>