/* @import "primeng/resources/themes/saga-orange/theme.css"; */
@import "./../../../../node_modules/primeng/resources/themes/saga-orange/theme.css";
.pi{
  margin-left: 0.5rem !important;
  padding: 0.5rem !important;
}
.pi-star-fill{
  margin-left: 0.5rem !important;
  padding: 0.5rem !important;
}
.p-rating-icon{
  margin-left: 0.5rem !important;
  padding: 0.5rem !important;
}
body{
    color: #6F8BA4;
    margin-top:20px;
}
.section {
    /* padding: 100px 0; */
    position: relative;
}
.gray-bg {
    background-color: #f5f5f5;
}
img {
    max-width: 100%;
}
img {
    vertical-align: middle;
    border-style: none;
}
/* About Me 
---------------------*/
.about-text h3 {
  font-size: 45px;
  font-weight: 700;
  margin: 0 0 6px;
}
@media (max-width: 767px) {
  .about-text h3 {
    font-size: 35px;
  }
}
.about-text h6 {
  font-weight: 600;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .about-text h6 {
    font-size: 18px;
  }
}
.about-text p {
  font-size: 18px;
  max-width: 450px;
}
.about-text p mark {
  font-weight: 600;
  color: #20247b;
}

.about-list {
  padding-top: 10px;
}
.about-list .media {
  padding: 5px 0;
}
.about-list label {
  color: #20247b;
  font-weight: 600;
  width: 88px;
  margin: 0;
  position: relative;
}
.about-list label:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 11px;
  width: 1px;
  height: 12px;
  background: #20247b;
  -moz-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
  margin: auto;
  opacity: 0.5;
}
.about-list p {
  margin: 0;
  font-size: 15px;
}

@media (max-width: 991px) {
  .about-avatar {
    margin-top: 30px;
  }
}

.about-section .counter {
  padding: 22px 20px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
}
.about-section .counter .count-data {
  margin-top: 10px;
  margin-bottom: 10px;
}
.about-section .counter .count {
  font-weight: 700;
  color: #20247b;
  margin: 0 0 5px;
}
.about-section .counter p {
  font-weight: 600;
  margin: 0;
}
mark {
    background-image: linear-gradient(rgba(252, 83, 86, 0.6), rgba(252, 83, 86, 0.6));
    background-size: 100% 3px;
    background-repeat: no-repeat;
    background-position: 0 bottom;
    background-color: transparent;
    padding: 0;
    color: currentColor;
}
.theme-color {
    color: #fc5356;
}
.dark-color {
    color: #20247b;
}

/*  */
/*  */
/*  */
/*  */



.container{
    /* margin: 1rem; */
    /* padding: 1rem; */
    /* display: flex; */
	justify-content: center; 
    width:100;
}
.padding{
    padding: 2rem;
    background-image: linear-gradient(180deg,   #F7F2FF, #ffffff );

}
.center{
	display: flex;
	justify-content: center;
    padding: 5rem;
}
.cover{
    background-color: gray;
    width: 100rem;
    border-radius: 5rem;
    height: 15rem;
    position: relative;
    margin-left: 40rem;
    margin-right: 10rem;
    margin-top: 0rem;
}
.profile{
    background-color: rgb(3, 3, 3);
    border-radius: 50%;
    width: -1rem;
    height: -1rem;
    padding: 10rem;
    margin: 10rem;
    margin-left: 15rem;
    border-color: white;
    border-style: solid;
    border-color: white;
    border-width: 0.6rem;
}
.photo{
    
    background-color:aqua;
    border-radius: 50%;
    border-style:solid;
    border-color: rgb(255, 255, 255);
    border-width: 0.5rem;
    height: 15rem;
    width: 15rem;
    display:inline-block;
    margin-left:10rem;
    margin-top: -6rem;
}
*/
/* .listg{
    margin-left: 3rem;
    width: 15rem;
    height: 100rem;
    background-color: bisque;
    display: inline-block;
    align-items: center;
    justify-content: center;
}  */

.body-gardient{
    background-image: linear-gradient(180deg,  #C89F75, #EAD3A8);
}
.text{
    color: #F7F2FF;
}
.side{
    background-color: #3C2D54;
    color: #E6D9D0;
}
.gradient{
    background-color: #E6D9D0;
    box-shadow: 0px 7px 20px 0px #231e1675 ;
    background-image: linear-gradient(to right, #E9CBA1, #EBD8AF);

}
.element-gradient{
    background-image: linear-gradient(to right, #17353E 80%, #566B7B);
    box-shadow:0px 7px 20px 0px #231e1675;
}
.brown-text{
    color: #0F0900;
    font-size: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
.brown-sm-text{
    color: #0F0900;
    font-size: 1.1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.light-gra{
    background-image: linear-gradient(180deg,   #F7F2FF, #ffffff );
    box-shadow: 0px 7px 20px 0px #231e1675 ;
    border-radius: 4rem;
    /* border-bottom-left-radius: 4rem;
    border-bottom-right-radius: 4rem; */
}
.light-grad{
    background-image: linear-gradient(180deg,   #F7F2FF, #ffffff );
    box-shadow: 0px 7px 20px 0px #231e1675 ;
    border-radius: 70rem;
}
.navS{
    /* border-top-left-radius: 2rem;
    border-top-right-radius: 2rem; */
    border-radius: 4rem;
    height: 5rem;
}
.button{
    color: #0F0900;
    background-image: linear-gradient(to right, #D6AA94, #EAD0C2);
    /* background-color: #D6AA94; */
    font-size: 15px;
    font-weight:bold;
    border-radius: 8rem;
}
.button-lg{
    color: #0F0900;
    background-image: linear-gradient(to right, #D6AA94, #EAD0C2);
    /* background-color: #D6AA94; */
    font-size: 15px;
    font-weight:bold;
    border-radius: 8rem;
}
.light-text{
    color: #EAD0C2;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.8rem;
}