<br>
<div class="container row g-3">
    <div class="col-md-6">
        <label for="name" class="form-label">Name</label>
        <input [(ngModel)]="team.name" type="text" class="form-control" id="name">
    </div>
    <div class="col-md-6">
        <label for="specialization" class="form-label">Specialization</label>
        <input [(ngModel)]="team.specialization" type="text" class="form-control" id="specialization">
    </div>
    <div class="col-12">
        <label for="description" class="form-label">Description</label>
        <textarea [(ngModel)]="team.description" name="description" id="description" class="form-control" cols="30" rows="3"></textarea>
    </div>
    <div class="col-md-6">
        <label for="website" class="form-label">Website</label>
        <input [(ngModel)]="team.webSite" type="text" class="form-control" id="website" placeholder="http://anything.com">
    </div>
    <div class="col-md-6">
        <label for="logo" class="form-label">Logo</label>
        <input [(ngModel)]="team.logo" type="file" (input)="AddImg($event)" class="form-control" id="logo" >
    </div>
    <div class="col-12">
        <div class="form-check">
            <input [(ngModel)]="createWallet" class="form-check-input" type="checkbox" id="wallet">
            <label class="form-check-label" for="wallet">
                Create Wallet
            </label>
        </div>
    </div>
    <div class="col-12">
        <button (click)="createTeam()" class="btn btn-primary">Create Team</button>
    </div>
</div>