<form (submit)="create()">
    <div class="form-group">
      <label for="exampleFormControlInput1">Title</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" [(ngModel)]="pro.title"/>
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">State</label>
        <input type="number" class="form-control" id="exampleFormControlInput2" [(ngModel)]="pro.state">
      </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Average Pay</label>
      <input type="number" class="form-control" id="exampleFormControlInput4" [(ngModel)]="pro.aVGBid">
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Descrption</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="pro.description"></textarea>
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Duration</label>
        <textarea class="form-control" id="exampleFormControlTextarea2" rows="3" [(ngModel)]="pro.duration"></textarea>
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Budget From</label>
        <input type="number" class="form-control" id="exampleFormControlInput5" [(ngModel)]="pro.budgetFrom">
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Budget To</label>
        <input type="number" class="form-control" id="exampleFormControlInput6" [(ngModel)]="pro.budgetTo">
      </div>
      <button type="submit" class="btn btn-primary">Post</button>
  </form>
