<div class="container">
    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card chat-app">
                <div id="plist" class="people-list">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Search...">
                    </div>
                    <ul class="list-unstyled chat-list mt-2 mb-0">
                        <li *ngFor="let cl of ChatsList" class="clearfix" (click)="ViewChat(cl.id,cl.type)">
                            <ng-template [ngIf]="cl.type == 'a'">
                            <img src="https://localhost:7152/api/Image?UserId={{cl.id}}" alt="avatar"
                                onerror="this.src='assets/images/NoImage.png'">
                            </ng-template>
                            <ng-template [ngIf]="cl.type == 't'">
                                <img src="https://localhost:7152/api/Image/Team?TeamId={{cl.id}}" alt="avatar"
                                onerror="this.src='assets/images/NoImage.png'">
                            </ng-template>
                            <div class="about">
                                <div class="name">{{cl.name}}  
                                    <ng-template [ngIf]="cl.noOfUnRead > 0">
                                        <mark style="background-color: green; color: white; border-radius: 50%; padding-left: 3%; padding-right: 3%;position: absolute;right: 25px;"> {{cl.noOfUnRead}}</mark>
                                    </ng-template>
                                </div>
                                <div class="status text-start"><small>{{cl.lastMess}}</small></div>
                            </div>
                            <div class="status text-end"><small>{{cl.lastMessDate | date:'short'}}</small></div> 
                            </li>
                    </ul>
                </div>
                <div class="chat">
                    <ng-template [ngIf]="type == 'a'">
                        <div class="chat-header clearfix">
                            <div class="row">
                                <div class="col-lg-6">
                                    <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                                        <img src="https://localhost:7152/api/Image?UserId={{account.id}}"
                                            onerror="this.src='assets/images/NoImage.png'" alt="avatar">
                                    </a>
                                    <div class="chat-about">
                                        <h4 class="m-b-0">{{account.firstName}} {{account.lastName}}</h4>
                                        <!-- <small>Last seen: 2 hours ago</small> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="chat-history">
                            <ul class="m-b-0">
                                <li *ngFor="let message of AccountChat" class="clearfix">
                                    <ng-template [ngIf]="message.senderId == UserId">
                                        <div class="message-data text-end text-right">
                                            <small class="message-data-time">{{message.date | date:'short'}}</small>
                                            <img src="https://localhost:7152/api/Image?UserId={{UserId}}" alt="avatar"
                                                onerror="this.src='assets/images/NoImage.png'">
                                        </div>
                                        <div class="message other-message float-right"> {{message.message}} </div>
                                    </ng-template>
                                    <ng-template [ngIf]="message.recieverId == UserId">
                                        <div class="message-data">
                                            <small class="message-data-time">{{message.date | date:'short'}}</small>
                                        </div>
                                        <div class="message my-message">{{message.message}}</div>
                                    </ng-template>
                                </li>
                            </ul>
                        </div>
                    </ng-template>

                    <ng-template [ngIf]="type == 't'">
                        <div class="chat-header clearfix">
                            <div class="row">
                                <div class="col-lg-6">
                                    <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                                        <img src="https://localhost:7152/api/Image/Team?TeamId={{team.id}}"
                                            onerror="this.src='assets/images/NoImage.png'" alt="avatar">
                                    </a>
                                    <div class="chat-about">
                                        <h4 class="m-b-0">{{team.name}}</h4>
                                        <!-- <small>Last seen: 2 hours ago</small> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="chat-history">
                            <ul class="m-b-0">
                                <li *ngFor="let message of TeamChat" class="clearfix">
                                    <ng-template [ngIf]="message.sender == 'u'">
                                        <div class="message-data text-end text-right">
                                            <small class="message-data-time">{{message.date | date:'short'}}</small>
                                            <img src="https://localhost:7152/api/Image?UserId={{UserId}}" alt="avatar"
                                                onerror="this.src='assets/images/NoImage.png'">
                                        </div>
                                        <div class="message other-message float-right"> {{message.message}} </div>
                                    </ng-template>
                                    <ng-template [ngIf]="message.sender == 't'">
                                        <div class="message-data">
                                            <small class="message-data-time">{{message.date | date:'short'}}</small>
                                        </div>
                                        <div class="message my-message">{{message.message}}</div>
                                    </ng-template>
                                </li>
                            </ul>
                        </div>
                    </ng-template>

                    <div class="chat-message clearfix">
                        <div class="input-group mb-0">
                            <div class="input-group-prepend p-0 m-0" (click)="SendMessage()">
                                <span class="input-group-text"><i class="fa fa-send"></i></span>
                            </div>
                            <input type="text" class="form-control" (keyup.enter)="SendMessage()"
                                placeholder="Enter text here..." [(ngModel)]="accountmessage.message">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>