<ng-template [ngIf]="isAuthenticated$ | async">
    <br>

    <div class="container">

        <!-- <div class="col">
        <input [(ngModel)]="searchText" type="text" class="form-control" placeholder="Search By Name">
    </div> -->
        <div>
            <h2>Filter By Spesialization</h2>
        </div>
        <div class="col">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheckSoftware">
                <label class="form-check-label" for="gridCheckSoftware">
                    Back-End
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheckMarkting">
                <label class="form-check-label" for="gridCheckMarkting">
                    Front-End
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheckWriting">
                <label class="form-check-label" for="gridCheckWriting">
                    Full-Stack
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheckWriting">
                <label class="form-check-label" for="gridCheckWriting">
                    Database
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheckWriting">
                <label class="form-check-label" for="gridCheckWriting">
                    UI/UX
                </label>
            </div>
        </div>
    </div>


    <br>
    <br>

    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div *ngFor="let freelancer of freelancers" class="col">
                <div class="card">
                    <img class="card-img-top" alt="..."
                        src="https://www.incimages.com/uploaded_files/image/1920x1080/getty_509107562_2000133320009280346_351827.jpg">
                    <div class="card-body">
                        <h2 class="card-title">Name</h2>

                        <p class="card-text">{{freelancer.bio}}</p>
                    </div>
                    <div class="card-footer">
                        <a [routerLink]="['/teamProfile/']" class="btn btn-primary">Profile</a> |
                        <a *ngIf="!teamMembersIds.includes(freelancer.id)" (click)="addTeamMember(freelancer.id)"
                            class="btn btn-primary" id="addTeamBtn">Add to Team</a>
                        <a *ngIf="teamMembersIds.includes(freelancer.id)" class="btn btn-secondary">Member</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</ng-template>