<br>

<div class="container">
    <div class="input-group mb-3">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">Dropdown</button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Separated link</a></li>
        </ul>
        <input type="text" class="form-control" aria-label="Text input with dropdown button">
    </div>

    <div class="input-group mb-3">
        <button class="btn btn-outline-primary" type="button" aria-expanded="false">Scroll Projects</button>
    </div>
</div>

<br>
<br>

<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div *ngFor="let freelancer of freelancers" class="col">
            <div class="card">
                <img class="card-img-top" alt="..."
                    src="https://www.incimages.com/uploaded_files/image/1920x1080/getty_509107562_2000133320009280346_351827.jpg">
                <div class="card-body">
                    <h2 class="card-title">Name</h2>

                    <p class="card-text">{{freelancer.bio}}</p>
                </div>
                <div class="card-footer">
                    <a [routerLink]="['/teamProfile/']" class="btn btn-primary">Profile</a> |
                    <a (click)="addTeamMember(freelancer.id)" class="btn btn-primary" id="addTeamBtn">Add to Team</a>
                </div>
            </div>
        </div>
    </div>
</div>