<div class="padding">
<nav class="navbar navbar-expand-lg element-gradient navS">
  <div class="container mx-3">
    <a href="#" class="navbar-brand light-md-text">FreelancingTeams</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navmenu">
      <ul class="navbar-nav">
        <!-- ms-auto-->
        <li class="nav-item">
          <a href="#Home" class="nav-link light-sm-text">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link light-sm-text" [routerLink]="['/teamProfile',team.id]">Back to your team</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="center">
  <h4 style="font-family:Georgia, 'Times New Roman', Times, serif ; font-weight:bold;">Add a new freelancer to your
    team!</h4>
  <div class="form-group">
    <label for="exampleInputUsername1">Freelancer's name</label><br>
    <input list="OtherFreelancerAccounts" class="form-control form-control-lg" [(ngModel)]="newTeamMember.freelancerId">
    <datalist id="OtherFreelancerAccounts">
      <option *ngFor="let y of OtherFreelancerAccounts" value="{{y.id}}">{{y.firstName }} {{ y.lastName}}
    </datalist>

  </div>
  <div class="form-group">
    <label for="exampleInputUsername1">Access allowed</label>
    <select class="form-control form-control-lg" aria-label="Default select example"
      [(ngModel)]="newTeamMember.accessAllowed">
      <option value="true">True</option>
      <option value="false">False</option>
    </select>



  </div>
  <div>
    <button type="submit" class="button-lg btn-lg" id="btn" (click)="Save()">Save</button>
  </div>
</div>
</div>