<div *ngIf="project">
  <br />
  <br />
  <br />
  <br />
  <div class="jumbotron">
    <div class="text-center">
      <h1 style="font-size: 40px">
        Project Details For <strong>{{ project.title }}</strong>
      </h1>
    </div>

    <h1 style="padding-left: 40px; font-size: 40px">Project description :</h1>
    <div style="padding-left: 40px">
      <!-- <div class=" "> -->
      <br />

      <p class="lead">
        <strong>{{ project.description }}</strong>
      </p>
      <br />
      <hr />
      <div class="text-center">
        <div class="text-muted">
          Range From : ${{ project.minBudget }} To ${{ project.maxBudget }}
        </div>
        <br />

        <!-- <p class="lead"> -->
        <!-- <button class="btn btn-primary"></button> -->

        <!-- </p> -->
      </div>
    </div>
  </div>
  <div style=" display: inline;">
    <button
      [routerLink]="['/Addproposal/', project.id]"
      class="btn btn-primary btn-lg"
    >
      Add Proposal
    </button>
    <a (click)="edit()" class="btn btn-primary btn-lg" role="button">Edit</a>
  </div>
  <br />
  <br />

  <app-all-proposals></app-all-proposals>
</div>
<app-all-proposals></app-all-proposals>
