
<div>
  <tr *ngFor="let item of freelancerSkills[1]">
    <p>{{item.skill.name}}</p>
    <div class="container">
      <div [ngClass]="{'green':item.efficiancyRate >=90 ,'blue':item.efficiancyRate < 90 && item.efficiancyRate >=60 , 
        'yellow':item.efficiancyRate <60 && item.efficiancyRate >= 40, 'red':item.efficiancyRate <30}" 
           class="skills" [style.width.%]="item.efficiancyRate" >{{item.efficiancyRate}}%</div>
      
    </div>
  </div>

  <br>

  <div class="modal-footer">
    <button *ngIf="profileId==userId" style="margin-right: 5px;" [routerLink]="['/profile',profileId,'editSkills',freelancerIdRouting]" class="btn btn-success " >Edit</button>  
    <button *ngIf="profileId==userId" [routerLink]="['/profile',profileId,'addSkill',freelancerIdRouting] "  class="btn btn-primary " >Add</button>
    </div>
    <!-- <button type="button"  class="btn btn-success " [routerLink]="[{ outlets: { modal: 
      
      ['editExperience',item.freelancerId,item.startDate] } }]" (click)="openModalEdit()"  
      style="margin-left: 10px;" >Edit</button>

                <button  type="button" class="btn btn-danger"  
                 (click)="Delete(item.freelancerId,item.startDate)" >Delete</button> -->


